* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}
#waybar {
  background: #282828;
  color: #ebdbb2;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
}

#workspaces button {
  padding: 0 3px;
  color: #ebdbb2;
  font-size: 10;
}

#workspaces button.active {
  color: #b16286;
}

#custom-space {
  font-size: 17px;
}

#custom-powermenu,
#workspaces,
#clock,
#pulseaudio,
#custom-updates,
#tray,
#sysinfo,
#network.name {
  padding: 4px 8px;
  background-color: #3c3836;
  border-radius: 3px;
  margin: 6px 4px;
}

#window {
  color: #ebdbb2;
  background-color: #282828
}

#tray {
  margin-left: 4px;
}

#custom-updates {
  color: #458588;
}

#custom-powermenu {
  color: #fb4934;
  padding-right: 11px;
  margin-right: 8px;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio {
  color: #458588;
  padding-right: 14px;
}

#cpu {
  color: #98971a;
}

#temperature {
  color: #b16286;
}

#memory {
  color: #8ec07c;
}

#network {
  color: #d79921;
}

#network.name {
  padding-right: 15px;
}

#clock {
  color: #ebdbb2;
  margin-left: 8px;
  /* opacity: 0.7; */
  /* font-size: 18px; */
}
