@import 'colorscheme.css';

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}
#waybar {
  background: @bg;
  color: @fg;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
}

#workspaces button {
  padding: 0 3px;
  color: @fg;
  font-size: 10;
}

#workspaces button.active {
  color: @purple;
}

#custom-space {
  font-size: 17px;
}

#custom-powermenu,
#workspaces,
#clock,
#audio,
#custom-updates,
#tray,
#sysinfo,
#network.name {
  padding: 4px 8px;
  background-color: @bg2;
  border-radius: 3px;
  margin: 6px 4px;
}

#window {
  color: @fg;
  background-color: @bg
}

#tray {
  margin-left: 4px;
}

#custom-updates {
  color: @blue;
}

#custom-powermenu {
  color: @red;
  padding-right: 11px;
  margin-right: 8px;
}

#scratchpad {
  color: @light_blue;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio,
#mpris {
  color: @blue;
}

#cpu {
  color: @yellow;
}

#temperature {
  color: @purple;
}

#memory {
  color: @light_green;
}

#network {
  color: @yellow;
}

#network.name {
  padding-right: 15px;
}

#clock {
  color: @fg;
  margin-left: 8px;
  /* opacity: 0.7; */
  /* font-size: 18px; */
}

