@import "../waybar/colorscheme.css";

* {
  background-image: none;
}
window {
  background-color: rgba(0, 0, 0, 0.4);
}
button {
  color: @fg;
  background-color: @bg;
  border-style: solid;
  border-color: @accent;
  border-width: 2px;
  border-radius: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 30px 20px;
  transition-duration: 0.1s;
}

button:focus {
  background-color: @bg;
}

button:active,
button:hover {
  background-color: @fg;
  color: @bg;
  border-color: @fg;
}

#lock {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/lock.svg")
  );
}

#logout {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/logout.svg")
  );
}

#suspend {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/suspend.svg")
  );
}

#hibernate {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/hibernate.svg")
  );
}

#shutdown {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/shutdown.svg")
  );
}

#reboot {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/reboot.svg")
  );
}

#lock:hover {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/lock_hover.svg")
  );
}

#logout:hover {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/logout_hover.svg")
  );
}

#suspend:hover {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/suspend_hover.svg")
  );
}

#hibernate:hover {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/hibernate_hover.svg")
  );
}

#shutdown:hover {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/shutdown_hover.svg")
  );
}

#reboot:hover {
  background-image: image(
    url("/home/charlie/.config/wlogout/icons/reboot_hover.svg")
  );
}
