* {
    bg0: #282a36;
    bg1: #363948;
    grey0: #44475A;
    fg0: #f8f8f2;

    blue: #8be9df;
    red: #ff5555;
    orange: #ffb86c;
    green: #50fa7b;
    bgStatusline3: #44475a;

    background-color: @bg0;
}
